In [1]:
%matplotlib inline
import pandas as pd

In [2]:
dataset = pd.read_excel('Real estate valuation data set.xlsx')

In [3]:
dataset.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

In [4]:
dataset.columns

Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'],
      dtype='object')

In [5]:
dataset.drop('No',axis = 1,inplace =True)

In [6]:
dataset.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

In [7]:
dataset.describe()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,2013.148953,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,0.281995,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,2012.666667,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,2012.916667,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,2013.166667,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,2013.416667,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,2013.583333,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [8]:
dataset.isnull().sum()

X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [9]:
x = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1:]

In [10]:
from sklearn.cross_validation import train_test_split

F:\anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [11]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)
y_train.shape

(331, 1)

In [12]:
x_train.shape

(331, 6)

In [13]:
from sklearn.svm import SVR

In [14]:
regressor = SVR(kernel = 'linear',degree = 1)

In [15]:
regressor.fit(x_train,y_train)

F:\anaconda\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=1, epsilon=0.1, gamma='auto',
  kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [16]:
Y_predicted = regressor.predict(x_test)
y_test

     Y house price of unit area
320                        18.6
131                        30.7
60                         21.3
41                         18.2
40                         15.9
4                          43.1
279                        31.1
118                        30.6
290                        37.0
208                        26.2
278                        44.0
39                         46.2
33                         49.3
117                        13.0
191                        37.8
139                        42.5
181                        55.9
152                        28.9
172                        58.1
302                        23.2
70                         59.0
64                         25.3
140                        51.4
358                        45.1
96                         59.5
314                        41.6
62                         27.7
73                         20.0
103                        45.7
347                        11.2
..                          ...
273                        29.3
147                        43.2
231                        14.7
411                        40.6
197                        48.2
35                         27.3
374                        49.5
12                         39.3
263                        31.7
298                        16.7
215                        48.1
345                        37.9
161                        39.6
332                        39.6
24                         38.8
22                         24.6
313                        42.8
408                        28.1
184                        21.8
31                         25.0
6                          40.3
225                        49.0
241                        41.4
134                        42.2
361                        63.3
0                          37.9
122                        32.5
284                        34.4
14                         34.3
93                         16.1

[83 rows x 1 columns]

In [23]:
y_t = y_test.iloc[:,-1].values
y_t

array([18.6, 30.7, 21.3, 18.2, 15.9, 43.1, 31.1, 30.6, 37. , 26.2, 44. ,
       46.2, 49.3, 13. , 37.8, 42.5, 55.9, 28.9, 58.1, 23.2, 59. , 25.3,
       51.4, 45.1, 59.5, 41.6, 27.7, 20. , 45.7, 11.2, 21.8, 18.3, 40.6,
       25.7, 37.2, 34.2, 23.1, 48.6, 34.1, 50.2, 19.2, 52.5, 15.5, 53. ,
       29.3, 27.3, 28.5, 44.5, 25.9, 36.8, 44.3, 38.3, 18.3, 29.3, 43.2,
       14.7, 40.6, 48.2, 27.3, 49.5, 39.3, 31.7, 16.7, 48.1, 37.9, 39.6,
       39.6, 38.8, 24.6, 42.8, 28.1, 21.8, 25. , 40.3, 49. , 41.4, 42.2,
       63.3, 37.9, 32.5, 34.4, 34.3, 16.1])

In [33]:
from sklearn.metrics import r2_score
i = r2_score(Y_predicted,y_t)

In [36]:
i*100

69.03200430696224